* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:
        linear-gradient(45deg, rgba(82, 70, 245, 0.62), rgba(41, 170, 52, 0.58)), url('/images/bgImage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

header {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.6);
    color: whitesmoke;
    padding: 10px 0px;
    font-size: 1.2em;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 2;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    padding: 5px;
}

.nav-link {
    color: white;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(199, 199, 202);
}

#download {
    height: 25px;
    width: 110px;
    font-size: 0.8em;
    background-color: rgb(7, 94, 245);
    color: whitesmoke;
    border-style: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bars {
    display: block;
    width: 23px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

h2 {
    font-weight: bolder;
    padding: 10px 0px;
}

.btn {
    display: flex;
    padding-top: 30px;
    width: 380px;
    justify-content: space-between;
}

#view {
    height: 50px;
    width: 170px;
    font-size: 1.2em;
}

#view:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#more {
    height: 50px;
    width: 170px;
    font-size: 1.2em;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}

#more:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.main-content {
    height: max-content;
}

.article {
    width: 50vw;
    padding: 7rem 3rem;
    color: white;
    text-align: left;
}

.services {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    font-size: 1.25rem;
    text-align: center;
}

.why h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}

.p2 {
    text-align: center;
    padding: 5px 150px;
    padding-bottom: 50px;
}

.p1 {
    padding: 50px 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    width: 25%;
    padding-top: 20px;
}

.agile {
    background-color: #6f42c1;
}

.strategy {
    background-color: #e83e8c;
}

.workplace {
    background-color: #20c997;
}

.survival {
    background-color: #17a2b8;
}

.work {
    background-color: rgba(229, 242, 245);
}

.projects {
    background-color: white;
}

.why {
    padding-top: 100px;
}

.three-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: black;
    width: 33%;
}

.image img {
    width: 40vw;
    padding: 0.7em 4em;
}

.dropshadow {
    filter: drop-shadow(0px 0px 5px grey);
}

.orange-text {
    color: orange;
}

.blue-text {
    color: skyblue;
}

.indigo-text {
    color: #3949ab;
}

.red-text {
    color: red;
}

.purple-text {
    color: #6f42c1;
}

.project1 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.5em;
}

.icon {
    padding: 5px;
}

.details {
    padding: 0.7rem 3em;
    width: 50%;
    margin: auto;
}

.cont {
    padding-left: 30px;
}

.cont h3 {
    text-align: left;
}

.d1 {
    display: flex;
    padding-bottom: 10px;
}

.pricing-plans {
    background-color: #3949ab;
    color: white;
    padding: 10px 0px 100px 0px;
}

.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    background-image:
        linear-gradient(45deg, rgba(82, 70, 245, 0.62), rgba(41, 170, 52, 0.58)), url('/images/planBgImage.jpg');

    width: 30%;
    margin: 5px auto;
    padding-top: 10px;
}

.plan-1 {
    background-image:
        linear-gradient(45deg, rgba(30, 33, 29, 0.62), rgba(0, 0, 0, 0.58)), url('/images/planBgImage.jpg');
}

.plan-2 {
    background-image:
        linear-gradient(45deg, rgba(0, 255, 242, 0.62), rgba(2, 255, 242, 0.58)), url('/images/planBgImage.jpg');
}

.plan-3 {
    background-image:
        linear-gradient(45deg, rgba(255, 83, 83, 0.62), rgba(255, 0, 0, 0.58)), url('/images/planBgImage.jpg');
}

.heading {
    padding: 30px 0 0 0;
}

.pricing {
    text-align: center;
    padding: 48px 0;
}

.currency {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.value {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.time {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.pricing-list {
    list-style-type: none;
}

.list-element p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.1em;
}

.buy-now-button {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    justify-content: center;
}

.buy {
    height: 50px;
    width: 120px;
    font-size: 1.1em;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
}

.buy:hover {
    box-shadow: 0px 0px 18px #888888;
    cursor: pointer;
}

.team-container {
    background-color: white;
    color: black;
}

.container {
    background-color: azure;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.box-members {
    display: flex;
    padding: 10px;
    width: 50%;

    color: black;
}

.image-m1 {
    padding: 0 15px;
}

.data {
    padding: 0 15px;
}

.data h3 {
    text-align: left;
}

.data .designation {
    color: #607d8b;
    padding: 7px 0px;
}

.data .about-person {
    padding: 15px 0px;
}

.blue-text {
    color: blue;
}

.contact-us {
    background-image:
        linear-gradient(45deg, rgba(82, 70, 245, 0.62), rgba(41, 170, 52, 0.58)), url('/images/bgImage.jpg');
    color: white;
    padding-bottom: 100px;
}

.contact-form {
    background-color: white;
    border-radius: 5px;
    padding: 80px 50px;
}

.container-contactus {
    display: flex;
}

.c1 {
    width: 70%;
}

.c2 {
    width: 30%;
}

.c2 p {
    text-align: center;
    color: black;
    padding: 10px 0px;
}

#name {
    height: 50px;
    width: 30%;
    border: 0px transparent;
    padding: 0px 5px;
    font-size: 1.1em;
    margin-bottom: 2px;
}

#mail {
    height: 50px;
    width: 30%;
    border: 0px transparent;
    padding: 0px 5px;
    font-size: 1.1em;
}

#subject {
    height: 50px;
    width: 61%;
    border: 0px transparent;
    padding: 0px 5px;
    font-size: 1.1em;
}

#msg {
    border: 0px transparent;
    padding: 0px 5px;
    font-size: 1.1em;
}

.send {
    background-color: #3949ab;
    color: white;
    height: 50px;
    width: 120px;
    font-size: 1.1em;
}

footer {
    color: whitesmoke;
    font-size: 1.2em;
}

.fa-brands {
    padding: 5px;
}

.social-media {
    background-color: #3949ab;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.copy-box {
    background-color: #2d366d;
    padding: 10px 0px;
    display: flex;
    width: 100%;
}

.copy {
    margin: auto;
    text-align: center;
}

.service {
    width: 90%;
    margin: auto;
}